* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
	background-image: url(../img/giphy.gif);
	margin:0;
}

header {
    background-color: #448AFF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background: url(https://media.giphy.com/media/l2Sqf6CokrCwXDvcA/giphy.gif) no-repeat;
    background-size: 100%;
    background-position: center;
}

nav {
  float: left;
  width: 20%;
  height: 400px; 
  background: black;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
  
nav ul a:link {
  color: #4fc3f7;
  text-decoration: none;
}
  
nav ul a:hover {
  color: #4fc3f7;
  font-weight: 700;
  text-decoration: none;
}
  
nav ul a:visited {
  color: #b3e5fc;
  text-decoration: none;
}

article {
	float: left;
	padding: 20px;
	width: 80%;
	background-color: #eee;
	background: url(https://media.giphy.com/media/Ddab9zJPtaEmI/giphy.gif) no-repeat;
	background-size: 100%;
	background-position: center;
	height: 400px; 
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background-color: #448AFF;
    background: url(https://media.giphy.com/media/v4NCChJtoH076/giphy.gif) no-repeat;
	background-size: 100%;
	background-position: center;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    nav, article,iframe {
        width: 100%;
        height: auto;
    }
}

iframe {
	float: left;
	margin-left: 25%;
	margin-right: 25%;
}