@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.heading1 {
	background-color: green;
	font-family: "Open Sans";
	font-weight: 400;
}

.heading2 {
	font-weight: 700;
}

h2 {
	color: blue;
}

.heading1 {
	font-family: 'Open Sans'
	font-weight: 400;
}

h2.heading1 {
	color: black;
}

p.heading1 {
	color: red;
}

a.heading1 {
	color: orange;
}

body {
	background-image: url('bg.jpg');
	filter: alpha(Opacity=10); }